@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

html {
    scroll-behavior: smooth;
}

.frame {
    min-height: 60vh;
    padding: 0;
}

.navbar {
    color: black;
}

.navbar-brand .brand-text {
    font-size: 23px; 
    font-family: 'Titillium Web', sans-serif; 
}

.nav-con {
    font-family: 'Titillium Web', sans-serif;
}

.nav-con:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
}

img {
    width: 100%;
    height: auto;
}

.wel {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    width: 100%;
}

.card {
    width: 100%;
}

.full-width {
    width: 100%;
    height: auto;
}

.frame .row {
    margin: 0;
}

.frame .card {
    border: none;
    height: 100%;
}

.frame .card-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul.list-unstyled li a {
    text-decoration: none;
    color: black;
}

.footer a {
    text-decoration: none;
}

.small-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
/*  */
.footer {
    background-color: #f8f9fa;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.footer .col-md-4 {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.footer .row.align-items-center {
    align-items: center;
}

.footer .list-inline {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}

.footer .list-inline-item {
    margin-right: 1rem;
}

.footer .list-inline-item a {
    text-decoration: none;
    color: black;
}

.footer .list-inline-item a:hover {
    text-decoration: underline;
}

.text-muted {
    color: #6c757d !important;
}

/*  */

@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
        align-items: center;
    }

    .frame .card-body {
        text-align: center;
    }

    .footer .container {
        text-align: center;
    }
    
    .frame {
        min-height: 90vh;
        padding: 0;
    }

    .footer .row.align-items-center {
        flex-direction: column;
        text-align: center;
    }

    .footer .col-md-6 {
        width: 100%;
        justify-content: center !important;
    }

    .footer .col-md-4 {
        align-items: center !important;
        text-align: center;
    }
}

@media (max-width: 992px) {
    .grand-nav {
        display: none !important;
    }

    .navbar-brand {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        text-align: center;
    }

    .navbar-brand .brand-text {
        font-size: 17px;
    }
}
